@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    /* 
        ============
           COLORS
        ============
    */
    --c-main: rgb(73, 71, 238);
    --c-main-lighter: rgba(73, 71, 238, 0.2);
    --c-main-lightest: rgba(103, 102, 226, 0.05);

    --c-secondary: rgb(4, 4, 76);

    --c-tertiary: rgb(121, 121, 144);
    --c-tertiary-lighter: rgba(121, 121, 144, 0.2);

    --c-bg: rgb(247, 247, 247);
    --c-bg-lighter: rgb(253, 253, 253);

    /* 
        ==========
           FONT
        ==========
    */
    --f-regular: 400;
    --f-medium: 500;
    --f-bold: 600;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 64px 0px;
    background-color: var(--c-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.card-section {
    box-sizing: border-box;
    position: relative;
    width: 623px;
    background-color: var(--c-bg-lighter);
    border-radius: 25px;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.5);
    padding: 64px 48px;
    margin: 72px auto 0px;
}

.card-section form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 282px;
    padding: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--c-bg-lighter);
    border: 2px solid var(--c-tertiary-lighter);
    border-radius: 6px;
}

.form-list:hover {
    border-color: var(--c-tertiary);
}

.form-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 5px 5px 9px;
    border-radius: 3px;
}

.form-list-item:hover {
    background-color: var(--c-main-lightest);
}

.form-list-item span {
    color: var(--c-secondary);
    font-size: 15px;
    font-weight: var(--f-medium);
}

.form-list-item svg {
    fill: var(--c-secondary);
}
