@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    /* 
        ============
           COLORS
        ============
    */
    --c-main: rgb(73, 71, 238);
    --c-main-lighter: rgba(73, 71, 238, 0.2);
    --c-main-lightest: rgba(103, 102, 226, 0.05);

    --c-secondary: rgb(4, 4, 76);

    --c-tertiary: rgb(121, 121, 144);
    --c-tertiary-lighter: rgba(121, 121, 144, 0.2);

    --c-bg: rgb(247, 247, 247);
    --c-bg-lighter: rgb(253, 253, 253);

    /* 
        ==========
           FONT
        ==========
    */
    --f-regular: 400;
    --f-medium: 500;
    --f-bold: 600;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 64px 0px;
    background-color: var(--c-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#log-in-btn {
    position: absolute;
    right: 32px;
    top: 24px;
    border-radius: 6px;
    border: none;
    padding: 11px 20px;
    background-color: var(--c-main);
    font-family: 'Inter', sans-serif;
    font-weight: var(--f-medium);
    font-size: 16px;
    color: var(--c-bg-lighter);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

#log-in-btn:hover {
    transform: scale(1.03);
}

#profile-btn {
    display: flex;
    position: absolute;
    right: 32px;
    top: 24px;
    border-radius: 6px;
    border: 1px solid var(--c-tertiary-lighter);
    padding: 8px 17px;
    background-color: var(--c-bg-lighter);
    cursor: pointer;
    align-items: center;
    gap: 8px;
    transition: all 100ms ease-in-out;
}

#profile-btn img {
    border-radius: 50%;
}

#profile-btn:hover {
    background-color: var(--c-tertiary-lighter);
}

.card-section {
    box-sizing: border-box;
    position: relative;
    width: 623px;
    background-color: var(--c-bg-lighter);
    border-radius: 25px;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.5);
    padding: 64px 48px;
    margin: 72px auto 0px;
}

.card-section form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
