.form-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 282px;
    padding: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--c-bg-lighter);
    border: 2px solid var(--c-tertiary-lighter);
    border-radius: 6px;
}

.form-list:hover {
    border-color: var(--c-tertiary);
}

.form-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 5px 5px 9px;
    border-radius: 6px;
}

.form-list-item:hover {
    background-color: var(--c-main-lightest);
}

.form-list-item span {
    color: var(--c-secondary);
    font-size: 15px;
    font-weight: var(--f-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
}

.form-list-item svg {
    fill: var(--c-secondary);
}
