#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: auto;
    user-select: none;
}

#navbar * {
    display: inline-block;
}

#generate-pdf-btn {
    border: 2px solid var(--c-main);
    border-radius: 4px;
    padding: 9px 16px;
    background-color: var(--c-bg-lighter);
    font-family: 'Inter', sans-serif;
    font-weight: var(--f-medium);
    font-size: 15px;
    color: var(--c-main);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

#generate-pdf-btn:hover {
    background-color: var(--c-main);
    color: var(--c-bg-lighter);
}
