#personal-section {
    box-sizing: border-box;
    width: 623px;
    height: 666px;
    background-color: var(--c-bg);
    border-radius: 25px;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.5);
    padding: 64px 48px;
    margin: 72px auto 0px;
}
